
{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>Accounts</h1>
    </header>
    <main>
        <div class="header-section">
            <div class="file-upload-section">
                 <form method="post" enctype="multipart/form-data" action="{% url 'import_accounts' %}">{% csrf_token %}
                    <input type="file" name="file" class="file-input" accept=".csv, .tsv, .xls, .xlsx, .json" required>
                     <button type="submit" class="redirect-button" style="background-color: #28a745">Import Accounts</button>
                 </form>
            </div>
            <a type="button" href="{% url 'transfer_funds' %}" class="btn btn-redirect">Transfer Funds</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>History</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.id }}</td>
                        <td>{{ account.name }}</td>
                         <td>{{ account.balance }}</td>
                        <td><a href="{% url 'show_history' account.id %}" class="redirect-button">Show</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span>
                {% if accounts.has_previous %}
                    <a class="pagination-btn" type="button" href="?page={{ accounts.previous_page_number }}">« previous</a>
                {% endif %}

                <span class="pagination-btn">
                    Page {{ accounts.number }} of {{ accounts.paginator.num_pages }}.
                </span>

                {% if accounts.has_next %}
                    <a class="pagination-btn" type="button" href="?page={{ accounts.next_page_number }}">next »</a>
                {% endif %}
            </span>
        </div>
    </main>
</div>
{% endblock %}